In [2]:
import pandas as pd
import numpy as np

In [3]:
series = pd.Series[7 , 3, 2, np.nan, 6, 9]

In [6]:
datas = pd.date_range("20220101", periods=6)
#pega datas. Periodo. Inicio e fim. Ano, mês, dia. periods é dias a mais

In [11]:
for x in datas:
    print(x)

2022-01-01 00:00:00
2022-01-02 00:00:00
2022-01-03 00:00:00
2022-01-04 00:00:00
2022-01-05 00:00:00
2022-01-06 00:00:00

In [25]:
df = pd.DataFrame(np.random.randn(6,4))
#Gera um df. Função data frame 
#vai gerar biblioteca numpy com numeros aleatorios. 6 linhas e 4 colunas 
#gera numeros randomicos. randn é pegar numeros aleatorios respeitando distribuilçao normal com média 0 e desvio padrão 1 

df

          0         1         2         3
0 -0.548630  0.220208 -0.195819  0.649200
1  0.512755  1.385233 -0.537893 -1.192687
2 -0.591116 -0.278346 -1.205671  2.219999
3 -0.660947  1.411314 -0.394860 -0.455626
4 -0.030742 -0.323934 -0.752860 -0.501610
5 -0.743420  0.781727 -1.949866  0.864262

In [28]:
list("ABCD")

['A', 'B', 'C', 'D']

In [30]:
#df = pd.DataFrame(np.random.randn(6,4), index = datas, columns=list("ABCD"))
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns= ["Carros", "Paises", "Pessoas", "Opa"])
#index é a referência da linhas. são 6 datas, 6 linhas. 
#colunas são uma lista das 4 letras.

              Carros    Paises   Pessoas       Opa
2022-01-01 -0.841835  0.533675 -0.140798  0.610635
2022-01-02  1.177307 -1.296290 -1.753287  0.368681
2022-01-03 -1.351520 -0.739974  0.511255 -0.233425
2022-01-04 -0.553084  0.052515 -1.854630 -0.704586
2022-01-05 -0.312644  0.931192  1.040388 -0.026769
2022-01-06  2.150964 -0.790827  0.750236 -0.907275

In [35]:
df2 = pd.DataFrame({"A": 7, 
                   "B": pd.Timestamp("20190101"), 
                   "C": pd.Series(1, index= list(range(4)), dtype="float32"), 
                   "D": np.array([3] * 4, dtype="int32"),
                   "E": pd.Categorical(["test", "train", "test", "train"]),
                   "F": "Python"})
#
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python